form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  gap: 0.5rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1em 7.5em rgb(0 0 0 / 10%);
  backdrop-filter: blur(2px);
  padding: 5rem 2rem;
  margin-bottom: 5rem;
}

@media (min-width: 350px) {
  form {
    width: 80%;
  }
}

form input {
  border-radius: 0.2rem;
  height: 2rem;
  width: 100%;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
}

input:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form ::placeholder {
  color: white;
}

form textarea {
  padding-top: 0.4rem;
  border-radius: 0.2rem;
  font-family: inherit;
  resize: vertical;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  width: 100%;
  border: none;
}

form textarea:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form div {
  margin: 0 auto;
}

form button {
  cursor: pointer;
  border-radius: 0.5em;
  background: black;
  color: white;
  border: 0.1rem solid black;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.4rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  transition: 0.2s ease-in-out;
}

form button:hover {
  background: transparent;
  border: 0.1rem solid black;
  width: 7.5rem;
}
