form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  gap: 0.5rem;

  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1em 7.5em rgb(0 0 0 / 10%);
  backdrop-filter: blur(2px);
  padding: 5rem 2rem;

  margin-bottom: 5rem;

  @media (min-width: 350px) {
    width: 80%;
  }

  input {
    height: 2rem;
    width: 100%;
    font-family: inherit;
    background: #68263f;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  :focus {
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  ::placeholder {
    color: #fff;
  }

  textarea {
    font-family: inherit;
    resize: vertical;
    background: #68263f;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  div {
    margin: 0 auto;
  }

  button {
    cursor: pointer;
    border-radius: 0.5em;
    background: black;
    color: white;
    border: 0.1rem solid black;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    transition: 1s ease-in-out;
  }

  button:hover {
    background: transparent;
    border: 0.1rem solid black;
    width: 9rem;
  }
}
