@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap";


 $colors: (
"primary": #2d2d2d,
"secondary": #e1b404,
 );

 $font-Weight: (
  "header": 500,
  "main": 300,
 );

:root {
  --main-font: "Montserrat", sans-serif;
  --text-color: #2d2d2d;
  --secondary-color: #e1b404;
}
